* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

header {
    background: linear-gradient(to right, #2c3e50, #b99ed3);
    color: white;
    text-align: center;
    padding: 1.5rem 0;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1rem;
}

.centered-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.centered-image {
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #463168;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #b99ed3;
}

main {
    padding: 2rem;
    max-width: 1100px;
    margin: auto;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main section {
    margin-bottom: 2rem;
}

main h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #2c3e50;
    border-bottom: 2px solid #b99ed3;
    display: inline-block;
}

main p {
    margin-bottom: 1rem;
    line-height: 1.8;
}

article h3 {
    font-size: 1.5rem;
    color: #180e22;
    margin-bottom: 0.5rem;
}

article p {
    margin-bottom: 0.5rem;
}

a.enlace {
    display: inline-block;
    margin-top: 1rem;
    color: white;
    background-color: #b99ed3;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a.enlace:hover {
    background-color: #2c3e50;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.centered-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    margin: 0;
}

.centered-image {
    max-width: 30%;
    height: auto;
}
footer {
    text-align: center;
    background: #463168;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}

.twitter-share {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.twitter-share:hover {
    background-color: #717577;
}

.twitter-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px; 
}

form {
    display: auto;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

form label {
    font-weight: bold;
}

form input, form textarea, form button{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-self: center;
    margin-top: 20px;
    width: 50%;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ba75e7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a887bb;
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    main {
        padding: 1rem;
    }
}
#fecha-hora {
    color: rgb(15, 15, 15);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
